
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
.DS_Store
.vscode/
.idea/
*.log
*.db
*.sqlite3
*.sqlite
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
vox_api/**/migrations/
vox_api/**/migrations/*.py
vox_api/**/migrations/*.pyc

# Config files
.flake8
.gitignore
.env*
pyproject.toml
pytest.ini
.pre-commit-config.yaml
